*{
	margin: 0;
	padding: 0;
		
}
.pay{
	background: url("../images/download 2.png"), url("../images/download1.png");
	background-position:bottom,center;
	background-repeat: no-repeat, repeat;
	background-size:100% 35%;
	height: 100%;
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content:space-around;
	justify-content:space-around;
	-webkit-align-items: center;
	align-items: center;
}
.pay-img{
	position:relative;
}
.pay .pay-img .pay-img-pro{
	height: 88%;
	width: 88%;
}
.pay .pay-img .pay-img-rocket{
	height: 65%;
	width: 45%;
	position:absolute;
	left:80px;
	top:100px;
}
.pay-download{
	position: relative;
}
.pay .pay-download h2{
	position:absolute;
	left:70px;
	top:50px;
	font-size: 35px;
}
.pay .pay-download p{
	position:absolute;
	left:70px;
	top:100px;
	width: 400px;
	font-size: 20px;
}
.pay .pay-download h6{
	position:absolute;
	left:260px;
	top:400px;
}
.input-1{
	background: url("../images/download 6.png");
	position:absolute;
	left:80px;
	top:200px;
	width: 72%;
	height: 11%;
	background-position:center;
	background-repeat:no-repeat;
	border: 0 solid #FFFFFF;
	color: #FFFFFF;
	font-size: 24px;
}
.input-2{
	background: url("../images/download 5.png");
	position:absolute;
	left:80px;
	top:280px;
	width: 72%;
	height: 11%;
	background-position:center;
	background-repeat:no-repeat;
	border: 0 solid #FFFFFF;
	color: #FFFFFF;
	font-size: 24px;
}